body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    opacity: 0.8;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
    background-color: black;
    width: 100%;
    z-index: 1;
}

main {
    position: relative;
    top: 69px;
}

#logo {
    height: 50px;
    display: inline;
    margin: 10px 10px ;   
}

#navList {
    display: inline;
    position: relative;
    overflow:hidden;
    width: 100%;
}

nav {
    margin: 8px 20px;
    float: right;
}

nav ul, nav li {
    display:inline;
}

nav ul {
    float: right;
    padding: 0;
}

nav Li {
    margin-left: 10px;
}

nav a {
    color:seashell;
}

#mission {
    position: relative;
    width: 100%;
}

#missionPicture {
    height: 700px;
    background-image: url("img/img-mission-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#tagline
{
    text-align: center;
    position: absolute;
    bottom:50%;
    width: 100%;
    background-color: black;
    padding: 5px 0px;
}


#products {
    max-width: 1000px;
    margin: 0 auto;
}

#productIntro h4, #productIntro h2 {
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#gallery p {
    text-align: center;
}

.imageBlock {
    width: 300px;
}

.imageBlock img {
width: 300px;
height: 200px;
}

#locations {
    position:relative;
    width: 100%;
    margin: 0px auto;
}

#locationPicture {
    height: 500px;
    background-image: url("img/img-locations-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#locationList {
    position: absolute;
    top:100px;
    width: 100%;
}

#locationList h2 {
    text-align: center;
}

#locales {
    display: flex;
    justify-content: space-evenly;
}

.locationBlock {
    background-color: black;
    width: 300px;
}

.locationBlock h3, .locationBlock p {
    text-align: center;
}

#contact h4, h5 {
    text-align: center;
}

footer {
    height: 40px;
    margin-left: 20px;
}